/* .dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    width: 100%;
  } */
  
  
  .bg-secondary {
    background-color: #ffffff;
  }
  
  .bg-light-yellow {
    background-color: #ffffff41;
  }
  
.onClick {
  color: #332805;
  background-color: #eaeaf0ae;
  margin-bottom: 6px;
  margin-top: -5px;
  border-radius: 15px;
  border-color: #F7BA0D;
}

.onClick:hover {
  color: #332805;
  background-color: #f745ad74;
  transform: scale(1.00);
}

  .button-container {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  .btn:hover {
    color: #f745ad90;
    background-color: #0CD5A9;
    transform: scale(1.00);
  }

  .btn {
    color: #0CD5A9;
    margin: 10px;
  }

  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-first:hover {
    color: #11100F;
    background-color: #f745ad5f;
    transform: scale(1.03);
  }

  .profile-first {
    padding: 10px 20px 40px 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-first img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .user-list {
    margin-top: 20px;
  }

  .user-item:hover{
    color: hsl(0, 0%, 1%);
    background-color: #f745ad5f;
    transform: scale(1.03);

  }

  .user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-item img {
    margin-bottom: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .user-details {
    margin-left: 10px;
    margin-top: 5px;
    
  }

  .btn-user-detail {
    color: #332805;
    background-color: #eaeaf0ae;
    margin-bottom: 6px;
    margin-top: -5px;
    border-radius: 15px;
    border-color: #F7BA0D;
  }

  .btn-user-detail:hover {
    color: #332805;
    background-color: #f745ad74;
    transform: scale(1.00);
  }
  
  .card {
    background-color: #f7b90d76;
    margin-bottom: 50px;
    width: 340px;
  }

  .info {

    color:  #11100F
      #0CD5A9
      #F7BA0D
      #F745AE
      #EAEAF0
      #ffffff

      #eaeaf0c9
   } 