/* .dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    width: 100%;
  } */
  
  
  .bg-secondary {
    background-color: #ffffff;
  }
  
  .bg-light-yellow {
    background-color: #ffffff41;
  }
  
  .button-container {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  .btn:hover {
    color: hsl(195, 85%, 77%);
    background-color: #F745AE;
    transform: scale(1.00);
  }

  .btn {
    color: #65eed3;
    margin: 10px;
  }

  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-first:hover {
    color: #11100F;
    background-color: #f745ad5f;
    transform: scale(1.03);
  }

  .profile-first {
    padding: 10px 20px 40px 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-first img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .user-list {
    margin-top: 20px;
  }

  .user-item:hover{
    color: hsl(0, 0%, 1%);
    background-color: #f8aad13d;
    transform: scale(1.01);

  }
.h {

  color:  #11100F
    #0CD5A9
    #F7BA0D
    #F745AE
    #EAEAF0
    #ffffff
 } 
  .user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-item img {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-details {
    margin-left: 10px;
    
  }
  
  .card {
    margin-bottom: 50px;
    width: 340px;
  }