.chatHover:hover {
    background-color: #f9c228
}

.chatHover:active {
    background-color: #e3b024
}

.adorno::before {
    content: "↸ ";
}

.tamanoFoto {
    width: 120px;
    height: 120px;
    object-fit: cover;
}