.profile-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-like {
  background-color: #F745AE;
  margin-right: 10px;
}

.btn-reject {
  background-color: #F7BA0D;
}

.like-icon,
.reject-icon {
  color: white;
  font-size: 50px;
}
