body {
  background-image: url("fondo3.png");
  background-size: cover;
}

.custom-bg {
  background-color: rgba(255, 255, 255, 0.7);
  /* Fondo semitransparente claro, el numero con decimal va modificando la transparencia */
}

/* .container {
  /* position: relative; */

.footer-logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.titulos {
  color: #11100F;

  font-family: 'Staatliches', cursive;
}