body {
  background: rgb(12,213,169);
  background: linear-gradient(156deg, rgba(12,213,169,1) 0%, rgba(247,186,13,1) 50%);
}

.custom-bg {
  background-color: rgba(255, 255, 255, 0.6);
  /* Fondo semitransparente claro, el numero con decimal va modificando la transparencia */
}

.container {
  position: relative;
}

.footer-logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.titulos {
  color: #11100F;

  font-family: 'Staatliches', cursive;
}

